#question-container {
	margin: 15px auto 70px;
}

#question-container .btn-success {
	margin-top: 30px;
}

#question-dir-selection {
	display: table;
	margin: 0 auto 30px;
}

#question-panel {
	background-color: #337ab7;
	border: none;
}

#question-panel > .panel-body {
	font-size: 200%;
	line-height: 400%;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;
}

#question-answer-selection input {
	position: absolute;
	z-index: 1;
	left: 15px;
	top: 8px;
}

#question-answer-selection input:checked + a {
	background-color: #337ab7 !important;
	color: #fff;
}

#question-answer-selection a {
	padding-left: 40px;
}

#question-answer-selection input:hover + a,
#question-answer-selection input:focus + a {
    background-color: #eee;
    text-decoration: none;
}

#question-answer-selection a:focus {
	outline: none;
}
